<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vectorsearch>
            <embedding>
                <service_url>http://localhost:3000</service_url>
            </embedding>
            <opensearch>
                <index_name>magento_products_vector</index_name>
                <search_type>hybrid</search_type>
                <hybrid_combination_technique>arithmetic_mean</hybrid_combination_technique>
                <hybrid_normalization_technique>min_max</hybrid_normalization_technique>
                <lexical_weight>0.7</lexical_weight>
                <knn_weight>0.3</knn_weight>
                <min_similarity>0.85</min_similarity>
                <search_limit>100</search_limit>
            </opensearch>
            <reranking>
                <enabled>0</enabled>
                <limit>40</limit>
            </reranking>
        </vectorsearch>
    </default>
</config>
